/*

    BACKGROUND POSITION

    Base:
    bg = background

    Modifiers:
    -center = center center
    -top = top center
    -right = center right
    -bottom = bottom center
    -left = center left

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */

.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-top {
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-right {
  background-repeat: no-repeat;
  background-position: center right;
}

.bg-bottom {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-left {
  background-repeat: no-repeat;
  background-position: center left;
}

@media (--breakpoint-not-small) {
  .bg-center-ns {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-ns {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-ns {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-ns {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-ns {
    background-repeat: no-repeat;
    background-position: center left;
  }
}

@media (--breakpoint-medium) {
  .bg-center-m {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-m {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-m {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-m {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-m {
    background-repeat: no-repeat;
    background-position: center left;
  }
}

@media (--breakpoint-large) {
  .bg-center-l {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-l {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-l {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-l {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-l {
    background-repeat: no-repeat;
    background-position: center left;
  }
}


@media (--breakpoint-laptop) {
  .bg-center-xl {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-xl {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-xl {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-xl {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-xl {
    background-repeat: no-repeat;
    background-position: center left;
  }
}


@media (--breakpoint-desktop) {
  .bg-center-xxl {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-xxl {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-xxl {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-xxl {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-xxl {
    background-repeat: no-repeat;
    background-position: center left;
  }
}

@media (--breakpoint-hd) {
  .bg-center-hd {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-hd {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-hd {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-hd {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-hd {
    background-repeat: no-repeat;
    background-position: center left;
  }
}

@media (--breakpoint-4k) {
  .bg-center-4k {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top-4k {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right-4k {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom-4k {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left-4k {
    background-repeat: no-repeat;
    background-position: center left;
  }
}
