/*

   BACKGROUND SIZE
   Docs: http://tachyons.io/docs/themes/background-size/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -hd = Full HD
     -4k = 4K

*/

/*
  Often used in combination with background image set as an inline style
  on an html element.
*/

  .cover { background-size: cover!important; }
  .contain { background-size: contain!important; }

@media (--breakpoint-not-small) {
  .cover-ns { background-size: cover!important; }
  .contain-ns { background-size: contain!important; }
}

@media (--breakpoint-medium) {
  .cover-m { background-size: cover!important; }
  .contain-m { background-size: contain!important; }
}

@media (--breakpoint-large) {
  .cover-l { background-size: cover!important; }
  .contain-l { background-size: contain!important; }
}

@media (--breakpoint-laptop) {
  .cover-xl { background-size: cover!important; }
  .contain-xl { background-size: contain!important; }
}

@media (--breakpoint-desktop) {
  .cover-xxl { background-size: cover!important; }
  .contain-xxl { background-size: contain!important; }
}

@media (--breakpoint-hd) {
  .cover-hd { background-size: cover!important; }
  .contain-hd { background-size: contain!important; }
}

@media (--breakpoint-4k) {
  .cover-4k { background-size: cover!important; }
  .contain-4k { background-size: contain!important; }
}
