/*

   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {       *zoom: 1; }

.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }
.cn { clear: none; }

@media (--breakpoint-not-small) {
  .cl-ns { clear: left; }
  .cr-ns { clear: right; }
  .cb-ns { clear: both; }
  .cn-ns { clear: none; }
}

@media (--breakpoint-medium) {
  .cl-m { clear: left; }
  .cr-m { clear: right; }
  .cb-m { clear: both; }
  .cn-m { clear: none; }
}

@media (--breakpoint-large) {
  .cl-l { clear: left; }
  .cr-l { clear: right; }
  .cb-l { clear: both; }
  .cn-l { clear: none; }
}

@media (--breakpoint-laptop) {
  .cl-xl { clear: left; }
  .cr-xl { clear: right; }
  .cb-xl { clear: both; }
  .cn-xl { clear: none; }
}

@media (--breakpoint-desktop) {
  .cl-xxl { clear: left; }
  .cr-xxl { clear: right; }
  .cb-xxl { clear: both; }
  .cn-xxl { clear: none; }
}

@media (--breakpoint-hd) {
  .cl-hd { clear: left; }
  .cr-hd { clear: right; }
  .cb-hd { clear: both; }
  .cn-hd { clear: none; }
}

@media (--breakpoint-4k) {
  .cl-4k { clear: left; }
  .cr-4k { clear: right; }
  .cb-4k { clear: both; }
  .cn-4k { clear: none; }
}
