/*

  FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large
   -hd = HD
   -4k = 4K
*/

.flex { display: flex; }
.inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-none { flex: none; }

.flex-column  { flex-direction: column; }
.flex-row     { flex-direction: row; }
.flex-wrap    { flex-wrap: wrap; }
.flex-nowrap    { flex-wrap: nowrap; }
.flex-wrap-reverse    { flex-wrap: wrap-reverse; }
.flex-column-reverse  { flex-direction: column-reverse; }
.flex-row-reverse     { flex-direction: row-reverse; }

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.self-start    { align-self: flex-start; }
.self-end      { align-self: flex-end; }
.self-center   { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch  { align-self: stretch; }

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }

.content-start   { align-content: flex-start; }
.content-end     { align-content: flex-end; }
.content-center  { align-content: center; }
.content-between { align-content: space-between; }
.content-around  { align-content: space-around; }
.content-stretch { align-content: stretch; }

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last { order: 99999; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }

.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }

@media (--breakpoint-not-small) {
  .flex-ns { display: flex; }
  .inline-flex-ns { display: inline-flex; }
  .flex-auto-ns {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-ns { flex: none; }
  .flex-column-ns { flex-direction: column; }
  .flex-row-ns { flex-direction: row; }
  .flex-wrap-ns { flex-wrap: wrap; }
  .flex-nowrap-ns { flex-wrap: nowrap; }
  .flex-wrap-reverse-ns { flex-wrap: wrap-reverse; }
  .flex-column-reverse-ns { flex-direction: column-reverse; }
  .flex-row-reverse-ns { flex-direction: row-reverse; }
  .items-start-ns { align-items: flex-start; }
  .items-end-ns { align-items: flex-end; }
  .items-center-ns { align-items: center; }
  .items-baseline-ns { align-items: baseline; }
  .items-stretch-ns { align-items: stretch; }

  .self-start-ns { align-self: flex-start; }
  .self-end-ns { align-self: flex-end; }
  .self-center-ns { align-self: center; }
  .self-baseline-ns { align-self: baseline; }
  .self-stretch-ns { align-self: stretch; }

  .justify-start-ns { justify-content: flex-start; }
  .justify-end-ns { justify-content: flex-end; }
  .justify-center-ns { justify-content: center; }
  .justify-between-ns { justify-content: space-between; }
  .justify-around-ns { justify-content: space-around; }

  .content-start-ns { align-content: flex-start; }
  .content-end-ns { align-content: flex-end; }
  .content-center-ns { align-content: center; }
  .content-between-ns { align-content: space-between; }
  .content-around-ns { align-content: space-around; }
  .content-stretch-ns { align-content: stretch; }

  .order-0-ns { order: 0; }
  .order-1-ns { order: 1; }
  .order-2-ns { order: 2; }
  .order-3-ns { order: 3; }
  .order-4-ns { order: 4; }
  .order-5-ns { order: 5; }
  .order-6-ns { order: 6; }
  .order-7-ns { order: 7; }
  .order-8-ns { order: 8; }
  .order-last-ns { order: 99999; }

  .flex-grow-0-ns { flex-grow: 0; }
  .flex-grow-1-ns { flex-grow: 1; }

  .flex-shrink-0-ns { flex-shrink: 0; }
  .flex-shrink-1-ns { flex-shrink: 1; }
}
@media (--breakpoint-medium) {
  .flex-m { display: flex; }
  .inline-flex-m { display: inline-flex; }
  .flex-auto-m {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-m { flex: none; }
  .flex-column-m { flex-direction: column; }
  .flex-row-m     { flex-direction: row; }
  .flex-wrap-m { flex-wrap: wrap; }
  .flex-nowrap-m { flex-wrap: nowrap; }
  .flex-wrap-reverse-m { flex-wrap: wrap-reverse; }
  .flex-column-reverse-m { flex-direction: column-reverse; }
  .flex-row-reverse-m { flex-direction: row-reverse; }
  .items-start-m { align-items: flex-start; }
  .items-end-m { align-items: flex-end; }
  .items-center-m { align-items: center; }
  .items-baseline-m { align-items: baseline; }
  .items-stretch-m { align-items: stretch; }

  .self-start-m { align-self: flex-start; }
  .self-end-m { align-self: flex-end; }
  .self-center-m { align-self: center; }
  .self-baseline-m { align-self: baseline; }
  .self-stretch-m { align-self: stretch; }

  .justify-start-m { justify-content: flex-start; }
  .justify-end-m { justify-content: flex-end; }
  .justify-center-m { justify-content: center; }
  .justify-between-m { justify-content: space-between; }
  .justify-around-m { justify-content: space-around; }

  .content-start-m { align-content: flex-start; }
  .content-end-m { align-content: flex-end; }
  .content-center-m { align-content: center; }
  .content-between-m { align-content: space-between; }
  .content-around-m { align-content: space-around; }
  .content-stretch-m { align-content: stretch; }

  .order-0-m { order: 0; }
  .order-1-m { order: 1; }
  .order-2-m { order: 2; }
  .order-3-m { order: 3; }
  .order-4-m { order: 4; }
  .order-5-m { order: 5; }
  .order-6-m { order: 6; }
  .order-7-m { order: 7; }
  .order-8-m { order: 8; }
  .order-last-m { order: 99999; }

  .flex-grow-0-m { flex-grow: 0; }
  .flex-grow-1-m { flex-grow: 1; }

  .flex-shrink-0-m { flex-shrink: 0; }
  .flex-shrink-1-m { flex-shrink: 1; }
}

@media (--breakpoint-large) {
  .flex-l { display: flex; }
  .inline-flex-l { display: inline-flex; }
  .flex-auto-l {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-l { flex: none; }
  .flex-column-l { flex-direction: column; }
  .flex-row-l { flex-direction: row; }
  .flex-wrap-l { flex-wrap: wrap; }
  .flex-nowrap-l { flex-wrap: nowrap; }
  .flex-wrap-reverse-l { flex-wrap: wrap-reverse; }
  .flex-column-reverse-l { flex-direction: column-reverse; }
  .flex-row-reverse-l { flex-direction: row-reverse; }

  .items-start-l { align-items: flex-start; }
  .items-end-l { align-items: flex-end; }
  .items-center-l { align-items: center; }
  .items-baseline-l { align-items: baseline; }
  .items-stretch-l { align-items: stretch; }

  .self-start-l { align-self: flex-start; }
  .self-end-l { align-self: flex-end; }
  .self-center-l { align-self: center; }
  .self-baseline-l { align-self: baseline; }
  .self-stretch-l { align-self: stretch; }

  .justify-start-l { justify-content: flex-start; }
  .justify-end-l { justify-content: flex-end; }
  .justify-center-l { justify-content: center; }
  .justify-between-l { justify-content: space-between; }
  .justify-around-l { justify-content: space-around; }

  .content-start-l { align-content: flex-start; }
  .content-end-l { align-content: flex-end; }
  .content-center-l { align-content: center; }
  .content-between-l { align-content: space-between; }
  .content-around-l { align-content: space-around; }
  .content-stretch-l { align-content: stretch; }

  .order-0-l { order: 0; }
  .order-1-l { order: 1; }
  .order-2-l { order: 2; }
  .order-3-l { order: 3; }
  .order-4-l { order: 4; }
  .order-5-l { order: 5; }
  .order-6-l { order: 6; }
  .order-7-l { order: 7; }
  .order-8-l { order: 8; }
  .order-last-l { order: 99999; }

  .flex-grow-0-l { flex-grow: 0; }
  .flex-grow-1-l { flex-grow: 1; }

  .flex-shrink-0-l { flex-shrink: 0; }
  .flex-shrink-1-l { flex-shrink: 1; }
}

@media (--breakpoint-laptop) {
  .flex-xl { display: flex; }
  .inline-flex-xl { display: inline-flex; }
  .flex-auto-xl {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-xl { flex: none; }
  .flex-column-xl { flex-direction: column; }
  .flex-row-xl { flex-direction: row; }
  .flex-wrap-xl { flex-wrap: wrap; }
  .flex-nowrap-xl { flex-wrap: nowrap; }
  .flex-wrap-reverse-xl { flex-wrap: wrap-reverse; }
  .flex-column-reverse-xl { flex-direction: column-reverse; }
  .flex-row-reverse-xl { flex-direction: row-reverse; }

  .items-start-xl { align-items: flex-start; }
  .items-end-xl { align-items: flex-end; }
  .items-center-xl { align-items: center; }
  .items-baseline-xl { align-items: baseline; }
  .items-stretch-xl { align-items: stretch; }

  .self-start-xl { align-self: flex-start; }
  .self-end-xl { align-self: flex-end; }
  .self-center-xl { align-self: center; }
  .self-baseline-xl { align-self: baseline; }
  .self-stretch-xl { align-self: stretch; }

  .justify-start-xl { justify-content: flex-start; }
  .justify-end-xl { justify-content: flex-end; }
  .justify-center-xl { justify-content: center; }
  .justify-between-xl { justify-content: space-between; }
  .justify-around-xl { justify-content: space-around; }

  .content-start-xl { align-content: flex-start; }
  .content-end-xl { align-content: flex-end; }
  .content-center-xl { align-content: center; }
  .content-between-xl { align-content: space-between; }
  .content-around-xl { align-content: space-around; }
  .content-stretch-xl { align-content: stretch; }

  .order-0-xl { order: 0; }
  .order-1-xl { order: 1; }
  .order-2-xl { order: 2; }
  .order-3-xl { order: 3; }
  .order-4-xl { order: 4; }
  .order-5-xl { order: 5; }
  .order-6-xl { order: 6; }
  .order-7-xl { order: 7; }
  .order-8-xl { order: 8; }
  .order-last-xl { order: 99999; }

  .flex-grow-0-xl { flex-grow: 0; }
  .flex-grow-1-xl { flex-grow: 1; }

  .flex-shrink-0-xl { flex-shrink: 0; }
  .flex-shrink-1-xl { flex-shrink: 1; }
}

@media (--breakpoint-desktop) {
  .flex-xxl { display: flex; }
  .inline-flex-xxl { display: inline-flex; }
  .flex-auto-xxl {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-xxl { flex: none; }
  .flex-column-xxl { flex-direction: column; }
  .flex-row-xxl { flex-direction: row; }
  .flex-wrap-xxl { flex-wrap: wrap; }
  .flex-nowrap-xxl { flex-wrap: nowrap; }
  .flex-wrap-reverse-xxl { flex-wrap: wrap-reverse; }
  .flex-column-reverse-xxl { flex-direction: column-reverse; }
  .flex-row-reverse-xxl { flex-direction: row-reverse; }

  .items-start-xxl { align-items: flex-start; }
  .items-end-xxl { align-items: flex-end; }
  .items-center-xxl { align-items: center; }
  .items-baseline-xxl { align-items: baseline; }
  .items-stretch-xxl { align-items: stretch; }

  .self-start-xxl { align-self: flex-start; }
  .self-end-xxl { align-self: flex-end; }
  .self-center-xxl { align-self: center; }
  .self-baseline-xxl { align-self: baseline; }
  .self-stretch-xxl { align-self: stretch; }

  .justify-start-xxl { justify-content: flex-start; }
  .justify-end-xxl { justify-content: flex-end; }
  .justify-center-xxl { justify-content: center; }
  .justify-between-xxl { justify-content: space-between; }
  .justify-around-xxl { justify-content: space-around; }

  .content-start-xxl { align-content: flex-start; }
  .content-end-xxl { align-content: flex-end; }
  .content-center-xxl { align-content: center; }
  .content-between-xxl { align-content: space-between; }
  .content-around-xxl { align-content: space-around; }
  .content-stretch-xxl { align-content: stretch; }

  .order-0-xxl { order: 0; }
  .order-1-xxl { order: 1; }
  .order-2-xxl { order: 2; }
  .order-3-xxl { order: 3; }
  .order-4-xxl { order: 4; }
  .order-5-xxl { order: 5; }
  .order-6-xxl { order: 6; }
  .order-7-xxl { order: 7; }
  .order-8-xxl { order: 8; }
  .order-last-xxl { order: 99999; }

  .flex-grow-0-xxl { flex-grow: 0; }
  .flex-grow-1-xxl { flex-grow: 1; }

  .flex-shrink-0-xxl { flex-shrink: 0; }
  .flex-shrink-1-xxl { flex-shrink: 1; }
}

@media (--breakpoint-hd) {
  .flex-hd { display: flex; }
  .inline-flex-hd { display: inline-flex; }
  .flex-auto-hd {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-hd { flex: none; }
  .flex-column-hd { flex-direction: column; }
  .flex-row-hd { flex-direction: row; }
  .flex-wrap-hd { flex-wrap: wrap; }
  .flex-nowrap-hd { flex-wrap: nowrap; }
  .flex-wrap-reverse-hd { flex-wrap: wrap-reverse; }
  .flex-column-reverse-hd { flex-direction: column-reverse; }
  .flex-row-reverse-hd { flex-direction: row-reverse; }

  .items-start-hd { align-items: flex-start; }
  .items-end-hd { align-items: flex-end; }
  .items-center-hd { align-items: center; }
  .items-baseline-hd { align-items: baseline; }
  .items-stretch-hd { align-items: stretch; }

  .self-start-hd { align-self: flex-start; }
  .self-end-hd { align-self: flex-end; }
  .self-center-hd { align-self: center; }
  .self-baseline-hd { align-self: baseline; }
  .self-stretch-hd { align-self: stretch; }

  .justify-start-hd { justify-content: flex-start; }
  .justify-end-hd { justify-content: flex-end; }
  .justify-center-hd { justify-content: center; }
  .justify-between-hd { justify-content: space-between; }
  .justify-around-hd { justify-content: space-around; }

  .content-start-hd { align-content: flex-start; }
  .content-end-hd { align-content: flex-end; }
  .content-center-hd { align-content: center; }
  .content-between-hd { align-content: space-between; }
  .content-around-hd { align-content: space-around; }
  .content-stretch-hd { align-content: stretch; }

  .order-0-hd { order: 0; }
  .order-1-hd { order: 1; }
  .order-2-hd { order: 2; }
  .order-3-hd { order: 3; }
  .order-4-hd { order: 4; }
  .order-5-hd { order: 5; }
  .order-6-hd { order: 6; }
  .order-7-hd { order: 7; }
  .order-8-hd { order: 8; }
  .order-last-hd { order: 99999; }

  .flex-grow-0-hd { flex-grow: 0; }
  .flex-grow-1-hd { flex-grow: 1; }

  .flex-shrink-0-hd { flex-shrink: 0; }
  .flex-shrink-1-hd { flex-shrink: 1; }
}

@media (--breakpoint-4k) {
  .flex-4k { display: flex; }
  .inline-flex-4k { display: inline-flex; }
  .flex-auto-4k {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-4k { flex: none; }
  .flex-column-4k { flex-direction: column; }
  .flex-row-4k { flex-direction: row; }
  .flex-wrap-4k { flex-wrap: wrap; }
  .flex-nowrap-4k { flex-wrap: nowrap; }
  .flex-wrap-reverse-4k { flex-wrap: wrap-reverse; }
  .flex-column-reverse-4k { flex-direction: column-reverse; }
  .flex-row-reverse-4k { flex-direction: row-reverse; }

  .items-start-4k { align-items: flex-start; }
  .items-end-4k { align-items: flex-end; }
  .items-center-4k { align-items: center; }
  .items-baseline-4k { align-items: baseline; }
  .items-stretch-4k { align-items: stretch; }

  .self-start-4k { align-self: flex-start; }
  .self-end-4k { align-self: flex-end; }
  .self-center-4k { align-self: center; }
  .self-baseline-4k { align-self: baseline; }
  .self-stretch-4k { align-self: stretch; }

  .justify-start-4k { justify-content: flex-start; }
  .justify-end-4k { justify-content: flex-end; }
  .justify-center-4k { justify-content: center; }
  .justify-between-4k { justify-content: space-between; }
  .justify-around-4k { justify-content: space-around; }

  .content-start-4k { align-content: flex-start; }
  .content-end-4k { align-content: flex-end; }
  .content-center-4k { align-content: center; }
  .content-between-4k { align-content: space-between; }
  .content-around-4k { align-content: space-around; }
  .content-stretch-4k { align-content: stretch; }

  .order-0-4k { order: 0; }
  .order-1-4k { order: 1; }
  .order-2-4k { order: 2; }
  .order-3-4k { order: 3; }
  .order-4-4k { order: 4; }
  .order-5-4k { order: 5; }
  .order-6-4k { order: 6; }
  .order-7-4k { order: 7; }
  .order-8-4k { order: 8; }
  .order-last-4k { order: 99999; }

  .flex-grow-0-4k { flex-grow: 0; }
  .flex-grow-1-4k { flex-grow: 1; }

  .flex-shrink-0-4k { flex-shrink: 0; }
  .flex-shrink-1-4k { flex-shrink: 1; }
}
