/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -hd = Full HD
     -4k = 4K

*/

  .lh-solid { line-height: 1; }
  .lh-title { line-height: 1.25; }
  .lh-copy  { line-height: 1.5; }

@media (--breakpoint-not-small) {
  .lh-solid-ns { line-height: 1; }
  .lh-title-ns { line-height: 1.25; }
  .lh-copy-ns  { line-height: 1.5; }
}

@media (--breakpoint-medium) {
  .lh-solid-m { line-height: 1; }
  .lh-title-m { line-height: 1.25; }
  .lh-copy-m  { line-height: 1.5; }
}

@media (--breakpoint-large) {
  .lh-solid-l { line-height: 1; }
  .lh-title-l { line-height: 1.25; }
  .lh-copy-l  { line-height: 1.5; }
}

@media (--breakpoint-laptop) {
  .lh-solid-xl { line-height: 1; }
  .lh-title-xl { line-height: 1.25; }
  .lh-copy-xl  { line-height: 1.5; }
}

@media (--breakpoint-desktop) {
  .lh-solid-xxl { line-height: 1; }
  .lh-title-xxl { line-height: 1.25; }
  .lh-copy-xxl  { line-height: 1.5; }
}

@media (--breakpoint-hd) {
  .lh-solid-hd { line-height: 1; }
  .lh-title-hd { line-height: 1.25; }
  .lh-copy-hd  { line-height: 1.5; }
}

@media (--breakpoint-4k) {
  .lh-solid-4k { line-height: 1; }
  .lh-title-4k { line-height: 1.25; }
  .lh-copy-4k  { line-height: 1.5; }
}

