/*

    OVERFLOW

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */

.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflow-x-visible { overflow-x: visible; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }

.overflow-y-visible { overflow-y: visible; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }

@media (--breakpoint-not-small) {
  .overflow-visible-ns { overflow: visible; }
  .overflow-hidden-ns { overflow: hidden; }
  .overflow-scroll-ns { overflow: scroll; }
  .overflow-auto-ns { overflow: auto; }
  .overflow-x-visible-ns { overflow-x: visible; }
  .overflow-x-hidden-ns { overflow-x: hidden; }
  .overflow-x-scroll-ns { overflow-x: scroll; }
  .overflow-x-auto-ns { overflow-x: auto; }

  .overflow-y-visible-ns { overflow-y: visible; }
  .overflow-y-hidden-ns { overflow-y: hidden; }
  .overflow-y-scroll-ns { overflow-y: scroll; }
  .overflow-y-auto-ns { overflow-y: auto; }
}

@media (--breakpoint-medium) {
  .overflow-visible-m { overflow: visible; }
  .overflow-hidden-m { overflow: hidden; }
  .overflow-scroll-m { overflow: scroll; }
  .overflow-auto-m { overflow: auto; }

  .overflow-x-visible-m { overflow-x: visible; }
  .overflow-x-hidden-m { overflow-x: hidden; }
  .overflow-x-scroll-m { overflow-x: scroll; }
  .overflow-x-auto-m { overflow-x: auto; }

  .overflow-y-visible-m { overflow-y: visible; }
  .overflow-y-hidden-m { overflow-y: hidden; }
  .overflow-y-scroll-m { overflow-y: scroll; }
  .overflow-y-auto-m { overflow-y: auto; }
}

@media (--breakpoint-large) {
  .overflow-visible-l { overflow: visible; }
  .overflow-hidden-l { overflow: hidden; }
  .overflow-scroll-l { overflow: scroll; }
  .overflow-auto-l { overflow: auto; }

  .overflow-x-visible-l { overflow-x: visible; }
  .overflow-x-hidden-l { overflow-x: hidden; }
  .overflow-x-scroll-l { overflow-x: scroll; }
  .overflow-x-auto-l { overflow-x: auto; }

  .overflow-y-visible-l { overflow-y: visible; }
  .overflow-y-hidden-l { overflow-y: hidden; }
  .overflow-y-scroll-l { overflow-y: scroll; }
  .overflow-y-auto-l { overflow-y: auto; }
}

@media (--breakpoint-laptop) {
  .overflow-visible-xl { overflow: visible; }
  .overflow-hidden-xl { overflow: hidden; }
  .overflow-scroll-xl { overflow: scroll; }
  .overflow-auto-xl { overflow: auto; }

  .overflow-x-visible-xl { overflow-x: visible; }
  .overflow-x-hidden-xl { overflow-x: hidden; }
  .overflow-x-scroll-xl { overflow-x: scroll; }
  .overflow-x-auto-xl { overflow-x: auto; }

  .overflow-y-visible-xl { overflow-y: visible; }
  .overflow-y-hidden-xl { overflow-y: hidden; }
  .overflow-y-scroll-xl { overflow-y: scroll; }
  .overflow-y-auto-xl { overflow-y: auto; }
}

@media (--breakpoint-desktop) {
  .overflow-visible-xxl { overflow: visible; }
  .overflow-hidden-xxl { overflow: hidden; }
  .overflow-scroll-xxl { overflow: scroll; }
  .overflow-auto-xxl { overflow: auto; }

  .overflow-x-visible-xxl { overflow-x: visible; }
  .overflow-x-hidden-xxl { overflow-x: hidden; }
  .overflow-x-scroll-xxl { overflow-x: scroll; }
  .overflow-x-auto-xxl { overflow-x: auto; }

  .overflow-y-visible-xxl { overflow-y: visible; }
  .overflow-y-hidden-xxl { overflow-y: hidden; }
  .overflow-y-scroll-xxl { overflow-y: scroll; }
  .overflow-y-auto-xxl { overflow-y: auto; }
}

@media (--breakpoint-hd) {
  .overflow-visible-hd { overflow: visible; }
  .overflow-hidden-hd { overflow: hidden; }
  .overflow-scroll-hd { overflow: scroll; }
  .overflow-auto-hd { overflow: auto; }

  .overflow-x-visible-hd { overflow-x: visible; }
  .overflow-x-hidden-hd { overflow-x: hidden; }
  .overflow-x-scroll-hd { overflow-x: scroll; }
  .overflow-x-auto-hd { overflow-x: auto; }

  .overflow-y-visible-hd { overflow-y: visible; }
  .overflow-y-hidden-hd { overflow-y: hidden; }
  .overflow-y-scroll-hd { overflow-y: scroll; }
  .overflow-y-auto-hd { overflow-y: auto; }
}

@media (--breakpoint-4k) {
  .overflow-visible-4k { overflow: visible; }
  .overflow-hidden-4k { overflow: hidden; }
  .overflow-scroll-4k { overflow: scroll; }
  .overflow-auto-4k { overflow: auto; }

  .overflow-x-visible-4k { overflow-x: visible; }
  .overflow-x-hidden-4k { overflow-x: hidden; }
  .overflow-x-scroll-4k { overflow-x: scroll; }
  .overflow-x-auto-4k { overflow-x: auto; }

  .overflow-y-visible-4k { overflow-y: visible; }
  .overflow-y-hidden-4k { overflow-y: hidden; }
  .overflow-y-scroll-4k { overflow-y: scroll; }
  .overflow-y-auto-4k { overflow-y: auto; }
}


