/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -hd = Full HD
     -4k = 4K

*/

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

@media (--breakpoint-not-small) {
  .ttc-ns { text-transform: capitalize; }
  .ttl-ns { text-transform: lowercase; }
  .ttu-ns { text-transform: uppercase; }
  .ttn-ns { text-transform: none; }
}

@media (--breakpoint-medium) {
  .ttc-m { text-transform: capitalize; }
  .ttl-m { text-transform: lowercase; }
  .ttu-m { text-transform: uppercase; }
  .ttn-m { text-transform: none; }
}

@media (--breakpoint-large) {
  .ttc-l { text-transform: capitalize; }
  .ttl-l { text-transform: lowercase; }
  .ttu-l { text-transform: uppercase; }
  .ttn-l { text-transform: none; }
}

@media (--breakpoint-laptop) {
  .ttc-xl { text-transform: capitalize; }
  .ttl-xl { text-transform: lowercase; }
  .ttu-xl { text-transform: uppercase; }
  .ttn-xl { text-transform: none; }
}

@media (--breakpoint-desktop) {
  .ttc-xxl { text-transform: capitalize; }
  .ttl-xxl { text-transform: lowercase; }
  .ttu-xxl { text-transform: uppercase; }
  .ttn-xxl { text-transform: none; }
}

@media (--breakpoint-hd) {
  .ttc-hd { text-transform: capitalize; }
  .ttl-hd { text-transform: lowercase; }
  .ttu-hd { text-transform: uppercase; }
  .ttn-hd { text-transform: none; }
}

@media (--breakpoint-4k) {
  .ttc-4k { text-transform: capitalize; }
  .ttl-4k { text-transform: lowercase; }
  .ttu-4k { text-transform: uppercase; }
  .ttn-4k { text-transform: none; }
}
