/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -hd = Full HD
     -4k = 4K

*/

/* Equivalent to .overflow-y-scroll */
.overflow-container {
  overflow-y: scroll;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto { margin-right: auto; }
.ml-auto { margin-left:  auto; }

@media (--breakpoint-not-small){
  .center-ns {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-ns { margin-right: auto; }
  .ml-auto-ns { margin-left:  auto; }
}

@media (--breakpoint-medium){
  .center-m {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-m { margin-right: auto; }
  .ml-auto-m { margin-left:  auto; }
}

@media (--breakpoint-large){
  .center-l {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-l { margin-right: auto; }
  .ml-auto-l { margin-left:  auto; }
}

@media (--breakpoint-laptop){
  .center-xl {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-xl { margin-right: auto; }
  .ml-auto-xl { margin-left:  auto; }
}

@media (--breakpoint-desktop){
  .center-xxl {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-xxl { margin-right: auto; }
  .ml-auto-xxl { margin-left:  auto; }
}

@media (--breakpoint-hd){
  .center-hd {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-hd { margin-right: auto; }
  .ml-auto-hd { margin-left:  auto; }
}

@media (--breakpoint-4k){
  .center-4k {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-4k { margin-right: auto; }
  .ml-auto-4k { margin-left:  auto; }
}
