/*

  WORD BREAK

   Base:
     word = word-break

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -hd = Full HD
     -4k = 4K

*/

.word-normal { word-break: normal; }
.word-wrap { word-break: break-all; }
.word-nowrap { word-break: keep-all; }

@media (--breakpoint-not-small) {
  .word-normal-ns { word-break: normal; }
  .word-wrap-ns { word-break: break-all; }
  .word-nowrap-ns { word-break: keep-all; }
}

@media (--breakpoint-medium) {
  .word-normal-m { word-break: normal; }
  .word-wrap-m { word-break: break-all; }
  .word-nowrap-m { word-break: keep-all; }
}

@media (--breakpoint-large) {
  .word-normal-l { word-break: normal; }
  .word-wrap-l { word-break: break-all; }
  .word-nowrap-l { word-break: keep-all; }
}

@media (--breakpoint-laptop) {
  .word-normal-xl { word-break: normal; }
  .word-wrap-xl { word-break: break-all; }
  .word-nowrap-xl { word-break: keep-all; }
}

@media (--breakpoint-desktop) {
  .word-normal-xxl { word-break: normal; }
  .word-wrap-xxl { word-break: break-all; }
  .word-nowrap-xxl { word-break: keep-all; }
}

@media (--breakpoint-hd) {
  .word-normal-hd { word-break: normal; }
  .word-wrap-hd { word-break: break-all; }
  .word-nowrap-hd { word-break: keep-all; }
}

@media (--breakpoint-4k) {
  .word-normal-4k { word-break: normal; }
  .word-wrap-4k { word-break: break-all; }
  .word-nowrap-4k { word-break: keep-all; }
}

